<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>标题</label>
      <input  class="form-control" type="text" [(ngModel)]="article.title" name="title"/>
    </div>

    <div class="form-group">
      <label>标签</label><br/>
      <a *ngFor="let tag of article.tags" class="tag" (click)="deleteTag(tag)">
        {{tag.name}}
      </a>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          选择标签
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" *ngFor="let tag of this.tagService.tags" (click)="onAddTag(tag)">{{tag.name}}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="onNewTag()">添加标签</a>
        </ul>
      </div>
    </div>

    <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="article.content" name="content">

    </angular-editor>
    <div>
      <button *ngIf="idEdit" type="submit" class="btn btn-success">修改</button>
      <button *ngIf="!idEdit" type="submit" class="btn btn-success">提交</button>
      <button type="button" (click)="onReset()" class="btn btn-success">重置</button>
    </div>
  </form>
</div>
